/* fontlar kodi */
@font-face {
  font-family: "Roboto Condensed-700";
  src: url("./fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-700";
  src: url("./fonts/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-500";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2"),
    url("./fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-400";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* css */
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto-400";
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.site_header .container {
  display: flex;
  height: 91.18px;
  justify-content: space-between;
  align-items: center;
}

.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_item:not(:last-child) {
  margin-right: 32px;
}
.header_link {
  text-transform: uppercase;
  color: #000;
}
.header_btn {
  font-family: "Roboto-700";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  color: #fff;
  background: #ff7500;
  border-radius: 4px;
}


.hero {
  height: 488px;
  background-color: #252420;
  color: #fff;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phyton_part {
  width: 387px;
  height: 420px;
}
.line {
  width: 80px;
  height: 3px;
  background: #ff7500;
  border-color: #ff7500;
  float: left;
  margin-bottom: 40px;
}
.clr {
  clear: both;
}
.title {
  font-family: "Roboto Condensed-700";
  font-size: 40px;
  margin-bottom: 24px;
}
.text {
  margin-bottom: 32px;
}

.btn {
  margin-bottom: 78px;
}

.phyton {
  margin-top: 40px;
}
.quesion .container {
  height: 936px;
  padding-top: 210px;
}

.ques_tie {
  margin-top: 24px;
  width: 435px;
  height: 172px;
  font-family: "Roboto Condensed-700";
  font-size: 72px;
  letter-spacing: 0.5px;
  line-height: 120%;
}
.quesion-list {
  display: flex;
  justify-content: space-between;
  float: left;
  padding: 0px;
}

.quesion_item:not(:last-child) {
  margin-right: 66px;
}

.child .container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  height: 450px;
  background: #252420;
  border-radius: 12px;
}
.next_title {
  margin-top: 0px;
  padding-top: 0px;
}
.book {
  box-shadow: 1px 1px 10px #ff7500;
  margin-bottom: 100px;
  
}

.site_footer {
    margin-top: 160px;
    height: 507px;
}
.first_footer {
  display: flex;
  justify-content: space-between;
}

.books {
  width: 440px;
  height: 291px;
}

.icon a {
    color: black;
    margin: 10px;
}
.footer_last {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.footer_list {
  margin: 0px;
  padding: 0px;
  margin-right: 40px;
}
.text_color {
    color: #ff7500;
}

.footer_line {
    margin-bottom: 64px;
}
.footer_second_item {
    padding-bottom: 16px;
}
.footer_second_item a {
    color: #000;
}
a:hover {
    cursor: pointer;
    color: #010f88;
    border-bottom: 1px solid #ff7500;
}
